includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	paths:
		- includes
		- classes
	scanDirectories:
		- includes
		- classes
	scanFiles:
		- wp_wpcat_json_rest.php	
	