<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" 
	bootstrap="./tests/phpunit/bootstrap.php" 
	backupGlobals="true" 
	colors="true" 
	beStrictAboutTestsThatDoNotTestAnything="false"
	cacheDirectory=".phpunit.cache"
	displayDetailsOnTestsThatTriggerWarnings="true"
>
	
	<testsuites>
		<testsuite name="Extract-Metadata-Test">
			<directory suffix=".php">./tests/phpunit/testcases</directory>
		</testsuite>
	</testsuites>

	<coverage pathCoverage='false' />

	<source>
		<include>
			<directory suffix=".php">./tests/src/</directory>
			<file>./src/extractMetadata.php</file>
		</include>
	</source>
</phpunit>